body {
    font-family: Arial, sans-serif;
    background color: white;
    padding: 20px;
    height: 90vh;
}



.container {
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 6px;
    margin : 5px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 8px;
    background-color: violet;
    color: blue;
    border: none;
    cursor: pointer;
}



#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}