body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: black;
}

form {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: violet;
    color: blue;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}


#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: lavender;
    padding: 10px;
    border-radius: 6px;
}