body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}


input {
    width: 100px;
    padding: 8px;
    margin: 5px 0;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;
}



#result {
    
    margin-top: 20px;
    font-weight: bold;
}